.style-wrapper-dashboard {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
};
.imgStyled {
  object-fit: cover;
}
.btn-carousel {
  background: #bae7ff;
  border: unset;
  height: 160px;
  width: 100%;
}
@media (min-width: 768px) {
  .imgStyled {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .imgStyled {
    height: 200px;
    object-fit: cover;
  }
}
