.style-wrapper-dashboard path {
  color: red;
}
.img-styled {
  object-fit: contain;
}
.carousel-item {
  background: #bae7ff;
  border: unset;
  height: 160px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.btn-favorited {
  background: transparent;
  border: unset;
}
@media (min-width: 768px) {
  .img-styled {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
@media (max-width: 768px) {
  .img-styled {
    height: 200px;
    object-fit: contain;
  }
}
